---
version: "3.8"
services:
  NN_server-status-api:
    image: p0t4t0sandwich/neuralnexus:server-status-api
    container_name: NN_server-status-api
    environment:
      - TZ=UTC
      - GRPC_PORT=50052
      - REST_PORT=3003
    network_mode: "host"
    restart: unless-stopped